@font-face {
    font-family: 'likeni';
    src: url('../public/fonts/likeni.woff2') format('woff2'),
         url('../public/fonts/likeni.ttf') format('ttf');
}

html,body{
    font-family: "likeni";
    letter-spacing: 0.04em;
}